body {
    margin: 0 auto;
    width: 90%;
    padding: 0;
}
header {
    font-size: 1.5em;
    padding: 0;
    margin: 0;
}
header h1 {
    margin: 0;
}
.caption {
    margin-top: 0;
    padding: 0 .2em;
    font-size: .6em;
}

/* Поисковая строка */
.search {
    width: 100%;
}
.logo {
    vertical-align: middle;
    margin-left: 0.1em;
}

input {
	padding: .8em 0 .8em .3em;
	font-size: 1em;
	border: 1px solid black;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAYAAABw4pVUAAAABHNCSVQICAgIfAhkiAAAC45JREFUeJztnXtwVNUdxz/3JkuWJIAxJICggEB4yiviAxwoA7460tIxilqxFNsSdXyN6GALjgyojIWOtQ5srW211arJVlHwWQUf+AJ5KM8osbxJyINXSDabZG//+GUhG5J772723N00+5lhBvY+zo/93nPP7/c7v3NWw4K8fCMHyAMmAsOBbMAFaFbXdnAMwA+UANuBtYDX69H2mF3U6peal2+MBR4DrgL0qJnZsWkA3gDmez3azpZOOEuQvHzDBSwGHgCSlJrXcfEDCzWNJYUrtEDTAyGC5OUbacBrSK9IoJ4CYKbXo/mDH5wWpLFnrCYhhtMUaHBToUczIHRsWExCjFhwowEPBv+hAeTlG7nAVyTGjFjhA0Z6Pdr3wR6ymIQYscQNPAqg5eUbg4EdJFzbWFMHXKAjQV9CjNjjAqbrwKRYW5LgNJN0YFisrUhwmmE6kBVrKxKcpoeOvLsSxAeuZNpZ1rb/+TCoP3Sy+Rj566CoGPYeVGtXtEiOtQF2cafA3bNg3CjQwnyEDAO+2ATL/wG1fuvzY0m7cXfvnAmXjA5fDJBrxufCnJ9H365o0y4EOb8XXDa27fe5Yhz0jHMXpl0IMrBfZD2jOZom94pn2oUgrij6ga44HzXbhSAdiTh/Xsyp8cHR41BVDf5G7yk5GVLd0K0rdE2PzqvOSdqFICeq4PhJ2PG9xBQ/7IMDh+HkKfPrOrngvB7Qr4/ELkMGQsUxZ2yOFC0v3zCcaCg5GXplQ10dlJZJjUyCs6hU3kM0DaZfDT+9EtJSJUgrLYfnC2HjVtWttz+U9hBNgztuhcnjzz4WCMCKf8JHX4Z3T12XuKRvH+iVBZkZkJ4OKS5pr64eqk7J2FJaDvsOwZ798R+hN6Kuh2ga3DETJl/e8nFdl+OGAR9/ZX6vrl3g0tGQexEMHQipncOzpb4eivfB5m3w5WY4WBLe9U6iTJBZN7QuRhBdhxFDWhdkeA5cOxlyR8gYFCnJyTD4QvkzYxrs3gPvfQKffS1ixRNKBLngPLj2R+bnBAJQ8Ba89s7Zx4bnwM0/gZwLo++2app4XIP6w03T4N/vwJrPxZ54QIkgY0aYf5G1fnj677B+S+jnGd1g9gx5PTkRP3Q/VxKO10yCZ1+G735Q36YVSgRxd2r9WHUNPLEcdu0O/Xx8Lvz6FkhPVWGROX37wKIH4M0P4JU3oaHBeRuCKBHkh/0tf+6rhcefgaImT2KSDrNuhKsnxjaq1nWYfhUMGQDLnoVjJ2Jkh4qbbtoK+5rN0DU0wB/+EiqGOwXm3SWvjHhJcQwZAI8/BL17xqZ9ZXFIdiY8ej9kZYpr+7cCePejM8c7u+F3d4vnEynVNXCoFCqPyd8NIKUTZHSFntlwTtfIhT5+Ehb90fGp30qlgWFQlJ274U/Pn/nc5YL5d8OwQeHdLxCQfNZXm+HbXSKGGRndxGMbNxJyR4pY4XD8BCxYBoePhHddG1ArCMhryV8X6lbeNxsmjLN/D38drPkMVq+RPFgkpKXC1Alw3VTpOXY5XAoPPwmnqiNrN0zUC9KcaVNg5vX2XiWGAeu/gRcKoawyOu27U+D6a0WYZJvl5Zu2wpLljiRE1ScXm9L/fLh5uj0xanzw3MvwyXr793/4TuiRBRVH5d2/czds3SXeXRBfLby0UlIo991ub4597EVwzWR4Z619WyLFsR6SpMMT80QUK8oq5Yls7qlZsXyxOBFN8dXCFxslxjhwOPRYWio8OEfGGSt8tTB3sSQsFVLp2BTulRPtiXGkHB5ZFr4YreFOkWzzsvmQf2to4HmqGh57BjZvt3ef2/KiY5MZjgjiToEbfmx93omTsOhpKI/SeNEUXYcpE2DpAok1gtTVwdI/w3f/tb7HuJGh16rAEUGuniQpdDMCAXjqr1ASoRdll8xz4JF74fImdV7+RlGOHTe/VtMgz8aD1RaUC5KUZJ35BVj1AWwtUm2N4HLBvbOlLDXI0eOw4kXx7MwYOVSy2apQLkjuCJnVM+NIORSsVm1JKElJcM8vQ7/cTdvgy03m12kaTLlCnV3KBbniEutzXl0lrw2ncafAPbNFnCD/egPqLbK943NlTFKBUkFcyTBmuPk5R8ph3dcqrTCnb2+p+Q1SUiZushndusjkmQqUCjJ4gDyFZnz4Wexm63y18Pq7sKHZRNn7n5pfp2kwaqgam5RG6kMHmh83DJnXdhq/X770le9JVrc5RbvF9e5+buv3UOX+KhXEKhA8VKo88g2hvh7WfiHz6BVHWz/PALbsgKkmg7edIDcSlArSp5f58aJila2foaEBPt0A3rfsPwC7is0FSUuVrHG0ZxaV1mVZubt7D6lqXQgYMndSsAoOhFmLZSd1k5XZjgRJdVuvxShT9LoyDClTfXW1VC1GwpEK63O6WWQfIkGZIG63dZrdqno9XGpq4dud8Moq+N5GbsqM6mpoCEiWujU6u9vWRksoE8TO5E+0qwbnPSG1vdHAABrqIclk2tdMrEhRFodYRbvQtvLQloiWGCC9O8nCPjv/x3BRJojPZ52o65KuqvW2k9bZugfU+KLfrjJBqn3WT2x2pvnxWNJ85rElWgoq24oyQQwDKiwmmi7orar1ttPXhm1lNjyxcFGay7Ly/VXPvrWFwRa2naxqZz0EZHGmGb2y43NnBU2D0RZZ6tbql9uKUkF2WaRGNA3GX6zSgsgYMgC6W2QZmlfvRwulghQVW3siUyeo8efbwlUTzY8bhiQfVaD0q6irhy0WJTZZmaETRLGmZ5b1RjeVx6B4r5r2lT+bn9qoPJwxDTqFWQitilumW2cZ1m2wjrEiRbkgm7ZBucncA0gvmXGdakusGTsCLhtjfk4gILOcqlAuSEPAXk3sdVNg5BDV1rRORjepbLRKiG7cqnZ5giPD6fufWPvsug733i4LbZymkwvm/kZEMcMwwPu2WlscEcRXC4U26q66psOCe+ylLaKFKxnmzrFXRbJug3Vs1VYcczj/s86eZ5KdKSti+/VRb1NaqiyrsypVAinMfvF19TY5Jkhwb5M6GwVxmRmwaC5MulSdPQP6wpJ59pYiGAa84BV3VzWOhmR7D8pTZsdldKfAXb+Ah/Ihu3v0bHCnwK0/g8UP2k/bfL5RqlWcwPENzN5eK0/nRBtPv6ZJQfToYbL9xeo1UBKhh5OeKssRwl1juPcAeF6MrM1IcHyNIchM4W/vgovCdHMDAcmPBVfhHiwx723nntO4CneUxBjhrsItq4QFS81ruKKM84s+g7hTRJShYS6Nbkp1jcQEp9epG5CSIj2gV7ZUhUS6Tr3iKCx8ytEl0RBLQUCe2Pt/JftgxRMHS2Spm4oJKAucW2PYErV+eNIDqz9UlxsKl292wPzfx0QMIA52JQ0ExKXcuVu2Suoao8KH+noofAtefy+2D0fMBQmyfosM2LPyJB3v5GY0RcWyX1a0Vv62hZiOIa2Rc6HsKDc8R60wh0plKV0slkS0QmwHdSsG9ZM9Fy8dY/8HXKwIBGD7d/Dux7Dhm/gZuxqJb0GCpHWGi0eJNzY8J/xxxlcr2/dt3i5baqhYBx8l2ocgTdE0SXn07S2xRmYGdEmTGUdNk1xZVXXjvr1lsm/v/kNqyj4V4OzmM9HAMCRYczhgc4w4q/dIkBAkzkgIEmfoJH45Iq7QgfbxuwEdA78OxPFvBXQ4SnTAxn5qCRximw44sLVjApt8pANeoH3Esf/f+ICVutej7QFWxtiYBPCS16NVBOOQ+UCt2dkJlFIFLITGwNDr0XYFP0jgOAbwkNej7YcmkboGS4BXY2VVB+Y5HVYE/3FakEKPZgC3Aa/EwqoOiAE8C9xR4DkzLRqSy/J6ND8atwBzgRpHzetYVAF3JsEcr0cL8XBbnbHOyzcGAI8CM4Ao/oB2h8YHvAQsDI4ZzbEsIcjLN7KB6cAkYBjQg4RAdvEjqantSAD+htejmU4g/w94imgyoqTv/QAAAABJRU5ErkJggg==) no-repeat right center 95% 50%;
	background-size: 30px 30px;
	background-origin: content-box;
}
#data_found ul {
	padding-left: .5em;
	padding-right: .5em;
}
#data_found li {
	list-style: none;
	padding: .3em 0;
	cursor: pointer;
}
#data_found .date {
	float: right;
}
#data_found a {
	text-decoration: none;
	color: #A32C29;
}
.hidden {
    display: none;
}

/* Галерея */
.gallery div {
	width: 50%;
}
.gallery .react-draggable:nth-child(odd) {
	float: left;
}
.gallery .react-draggable:nth-child(even) {
	float: left;
}
h2 {
	font-size: 1.2em;
}
.handle {
	cursor: pointer;
}
.xAxis, .yAxis {
	font-size: .6em;
}

	.axis path,
	.axis line {
		fill: none;
	  stroke: black;
	  shape-rendering: crispEdges;
	}
 .line {
        fill: none;
        stroke: steelblue;
        stroke-width: 1.5px;
    }

/* Подвал  */
footer {
	margin-top: 2em;
    font-size: 0.8em;
}

footer .cc_logo, footer .text {

	float: left;
}
footer .cc_logo {
	  padding-right: .5em;
}

footer .impressum {
	float: right;
}

.text a {
	color: #A32C29;
	text-decoration: none;
}

.extra {
    clear: both;
}

