body {
    margin: 0 auto;
    width: 90%;
    padding: 0;
}
header {
    font-size: 1.5em;
    padding: 0;
    margin: 0;
}
header h1 {
    margin: 0;
}
.caption {
    margin-top: 0;
    padding: 0 .2em;
    font-size: .6em;
}
.search {
    width: 80%;
}
/* Подвал  */
footer {
	margin-top: 2em;
}
footer .cc_logo, footer .text, footer .impressum {
	float: left;
}
footer .cc_logo {
	  padding-right: .5em;
}
footer .impressum {
	float: right;
}
.text a {
	color: #A32C29;
	text-decoration: none;
}
