body {
    margin: 0 auto;
    width: 90%;
    padding: 0;
}
header {
    font-size: 1.5em;
    padding: 0;
    margin: 0;
}
header h1 {
    margin: 0;
}
.caption {
    margin-top: 0;
    padding: 0 .2em;
    font-size: .6em;
}

/* Поисковая строка */
.search {
    width: 80%;
}
.logo {
    vertical-align: middle;
    margin-left: 0.1em;
}

input {

	padding: .8em 0 .8em .3em;
	font-size: 1em;
	border: 1px solid black;
	background: url("./logo-algolia.png") no-repeat right center 95% 50%;
	background-size: 30px 30px;
	background-origin: content-box;
}
#data_found ul {
	padding-left: .5em;
	padding-right: .5em;
}
#data_found li {
	list-style: none;
	padding: .3em 0;
	cursor: pointer;
}
#data_found .date {
	float: right;
}
#data_found a {
	text-decoration: none;
	color: #A32C29;
}
.hidden {
    display: none;
}

/* Галерея */
.gallery div {
	width: 50%;
}
.gallery div:nth-child(odd) {
	float: left;
}
.gallery div:nth-child(even) {
	float: left;
}
h2 {
	font-size: 1.2em;
}
.xAxis, .yAxis {
	font-size: .8em;
}

/* Подвал  */
footer {
	margin-top: 2em;
    font-size: 0.8em;

}

footer .cc_logo, footer .text {

	float: left;
}
footer .cc_logo {
	  padding-right: .5em;
}

footer .impressum {
	float: right;
}



.text a {
	color: #A32C29;
	text-decoration: none;
}


.extra {
    clear: both;
}

